@{
    ViewBag.Title = "About";
}
<h2>Mason Fortney</h2>
<h3>My Background</h3>

<p>I grew up in Geneva, Ohio, a small town between Cleveland and Erie. As a teenager I worked on a farm that taught me a lot about work, life and had an enormous impact on who I am today. While I look back on my experience as positive, it taught me that I don't want to be doing that type of work forever. That's what brought me here to Ohio University where I'm about to graduate majoring in MIS. It's been a long and hard road and I am definitely ready to move on into the workforce. I've had a great time at OU but I really lost my way once everything transitioned to online learning. But with hardwork and some excellent professors helping me along the way, I am ready to move on.</p>
