@{
    ViewBag.Title = "Contact";
}
<h2>Contact Information</h2>
<h3>Mason Fortney</h3>

<address>
    1177 Harper Valley Lane<br />
    Geneva, Ohio 44041<br />
    <abbr title="Phone">Phone:</abbr>
    440-417-8647
</address>

<address>
    <strong>School:</strong>   <a href="mailto:mf916817@ohio.edu">mf916817@ohio.edu.com</a><br />
    <strong>Personal:</strong> <a href="mailto:fortney_mason@yahoo.com">fortney_mason@yahoo.com</a>
</address>