@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mason Fortney</h1>
    <p class="lead">Software Development Assignment #1</p>
    <p><a href="https://ohiocoblms.azurewebsites.net/learn/forumMainPage.aspx?f=8638" class="btn btn-primary btn-lg">MIS 4200 Home Page &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Opportunities</h2>
        <p>
            As I am getting ready to graduate, I am beyond greatful to announce that I've received a job offer from Lake Geauga County Computer Association.
        </p>
        <p><a class="btn btn-default" href="https://www.lgca.org/Contact.aspx">Tell Them How Great I Am &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cleveland Sports Fan</h2>
        <p>
            It's been a long, painful existance as a Cleveland sports fan. While I am still awaiting a complete self destruction
            from the Browns, they've recently played well enough for me to admit I'm a fan.
        </p>
        <p><a class="btn btn-default" href="https://www.clevelandbrowns.com/video/building-the-browns">See Some of My Favorite Clips / Articles &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Social Media</h2>
        <p>Need more information not included here? Check out my Linkedin profile</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/mason-fortney/">Linkedin &raquo;</a></p>
    </div>
</div>